/* reset styles (optional) */

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: auto;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited, a:focus, a:active, a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*--------------------*/

.main_wrapper {
    max-width: 1920px;
    width: 100%;
    min-height: 100vh;
    background: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0 15px;
    width: 100%;
    margin: auto;
    background: #6B838B;
    position: revert;
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.btn_set {
    margin: auto;
    max-width: 560px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #ccc;
}

.btn {
    padding: 10px 15px;
    border: 1px solid #262626;
    margin: 10px 5px;
    border-radius: 5px;
    color: #262626;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(38,38,38,.5);
    transition: .3s ease-out;
}

.btn:active {
    transform: scale(.95);
}
.btn:hover {
    transition: .3s ease-out;
    box-shadow: 0 0 0 rgba(38,38,38,0);
}

.modal_mainWr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(38,38,38,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    transition: .3s ease-in;
    transform: scale(0);
}

.modal_mainWr.active {
    opacity: 1;
    z-index: 999;
    transform: scale(1);
}

.modal_content {
    max-width: 90%;
    max-height: 80vh;
    margin: 0 45px;
    height: 100%;
    position: relative;
}

.modal_item {
    height: 100%;
    background: #d1d1d1;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal_item-header h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    color: #262626;
    border-bottom: 1px solid rgba(255,255,255,.4);
}

.closeMode {
    position: absolute;
    top: -35px;
    right: -35px;
    width: 30px;
    height: 30px;
    background: initial;
    transition: .3s ease;
}

.closeMode span {
    position: absolute;
    top: calc( 50% - 3px);
    left: 0;
    width: 100%;
    height: 6px;
    background: #dcdcdc;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(245,69,0,.5);
    transition: .3s ease;
}

.closeMode:hover {
    transform: rotate(90deg);
}

.closeMode:hover span {
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    transition: .3s ease;
}
.closeMode span:first-child {
    transform: rotate(45deg);
}

.closeMode span:last-child {
    transform: rotate(-45deg);
}


.modal_item-body {
    padding: 20px;
    overflow-y: auto;
    height: auto;

}

.modal_item-footer {
    padding: 20px;
}

.mod_btn {
    background: grey;
    color: #f1f1f1;
    float: right;
    border: 1px solid transparent;
    border-bottom: 3px solid rgba(68,68,68,.7);
}